modules = ["nodejs-22"]

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 4322
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 5000
externalPort = 80

[workflows]

[[workflows.workflow]]
name = "start dev server"
mode = "sequential"
author = 46936186

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
