modules = ["nodejs-22"]

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 5000
externalPort = 80

[workflows]

[[workflows.workflow]]
name = "Start application"
mode = "sequential"
author = 46936186

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx astro dev --host 0.0.0.0 --port 5000"
