modules = ["nodejs-22"]

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 4322
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 5000

[[ports]]
localPort = 40085
externalPort = 3003

[[ports]]
localPort = 40969
externalPort = 3002

[[ports]]
localPort = 44779
externalPort = 3001

[[ports]]
localPort = 45705
externalPort = 4200

[workflows]

[[workflows.workflow]]
name = "start dev server"
mode = "sequential"
author = 46936186

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
